/* variables */
$menucolor: #FFFFFF;

/* css */
html body{
    background-color: #000100;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
#content{
    width: 800px;
    margin: 0px auto;
    padding: 1px 0px;
}
#bg{
    width: 1318px;
    height: 914px;
    margin-top: -143px;
    margin-left: -263px;
    background-image: url('../img/back.jpg');
    background-repeat: repeat-x;
    position: absolute;
    z-index: 0;
}
header{
    z-index: 8;
    margin:45px 0px 0px 40px;
    color: $menucolor;
    h1 a{
        font-size:30px;
        font-weight: bold;
        letter-spacing: 0.2em;
        color: $menucolor;
        text-decoration: none;
    }

    nav ul{
        margin-left: 5px;
    }
    
    nav ul li{
        margin-top: 5px;
        font-size: 16px;
        @for $i from 1 through 3 {
            &.menu-#{$i}{
                margin-left: 32px * $i;
            }
        }
        a{
            color: $menucolor;
            text-decoration: none;
            letter-spacing: 0.3em;
            display: block;
            width:200px;
            &:hover{
                background-color: rgba(94,204,219,0.75);
            }
        }
    }
}

