@import "compass/utilities/general/clearfix";

/* variables */
$menucolor: #FFFFFF;
$header_back: #000100;
$margin_top: 45px;
$menu_font: 'arial', sans-serif;
$height: 785px;

/* general */
a{
    color: $header_back;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.clear{
    clear: both;
}

/* content */
html body{
    background-color: $header_back;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    overflow-x:hidden;
    overflow-y:hidden;
    height: $height;
}
#content{
    width: 830px;
    margin: 0px auto;
    padding: 0px 0px;
}
#bg{
    width: 1300px;
    height: 835px;
    margin-top: -50px;
    margin-left: -233px;
    background-image: url('../img/back.jpg');
    position: absolute;
    clear: both;
    z-index: 0;
    html.ie7 &{
        margin-left: -568px;
    }
}
header{
    float: left;
    width: 300px;
    z-index: 8;
    margin-left: 35px;
    margin-top: $margin_top;
    color: $menucolor;
    font-family: $menu_font;
    h1{
         a{
             display:block;
             width: 147px;
             height: 47px;
             background-image: url('../img/title.png');
             span{
                display: none;
             }
        }
    }

    nav ul{
        margin-top: 13px;
        margin-left: 10px;
    }
    
    nav ul li{
        margin-top: 6px;
        font-size: 16px;
        @for $i from 1 through 4 {
            &.menu-#{$i}{
                margin-left: 28px * $i;
            }
        }
        a{
            display: block;
            width:150px;
            padding-left: 5px;
            color: $menucolor;
            text-decoration: none;
            letter-spacing: 0.3em;
            &:hover{
                background-color: rgba(94,204,219,0.75);
            }
        }
        &.menu-3 a, &.menu-1 a{
            letter-spacing: 0.25em;
        }
    }
}

//main-space
div#main-space{
    float:right;
    height: $height;
    width: 480px;
    margin-right: 10px;
    background-image: url("../img/articleback.png");
    color: $header_back;

    #main-inner{
        margin-top: $margin_top + 8px;
    }
    .title{
        @include clearfix;
        .page-title{
            display: block;
            float: left;
            padding: 1px 10px 3px;
            font-size: 15px;
            letter-spacing: 0.15em;
            font-family: $menu_font;
            color: #E6E6E6;
            font-weight: normal;
            background-color: $header_back;
            border:solid $header_back;
            border-width: 1px 1px 1px 0px;
            &.year{
                padding: 3px 10px 2px;
                font-size: 14px;
                border-left: 1px solid #666666;
                letter-spacing: 0.1em;
            }
        }
        a.page-title:hover{
            text-decoration: none;
            background-color: #333333;
        }
        .post-title{
            float: left;
            float: left;
            font-size: 13px;
            padding: 1px 7px 0px 14px;
            border:solid #010101;
            border-width: 1px 1px 1px 0px;
            background-color: #FFFFFF;
            background-image: url('../img/arrow.png');
            background-repeat: no-repeat;
        }
    }
    .main-content{
        height: 669px;
        margin-top:20px;
        padding: 0px 10px 0px 30px;
        .main-content-inner{
            overflow-y: scroll;
            height: 669px;
            padding-bottom: 190px;
        }
    }
    ul.menu{
        li{
            float: left;
        }
        li a{
            display: block;
            font-family: $menu_font;
            font-size: 14px;
            padding: 3px 7px 2px;
            border:solid #010101;
            border-width: 1px 1px 1px 0px;
            background-color: #FFFFFF;
            cursor:pointer;

            &:hover, &.selected{
                border-bottom-width: 3px;
                padding-top: 2px;
                padding-bottom: 1px;
            }
            &:hover{
                text-decoration: none;
                color: #888888;
            }
        }
    }
}

//page
body.page article .text{
    margin-top: 20px;
    padding: 0px 30px;
    color: #010101;

    h3{
        margin-top: 25px;
        font-weight: normal;
    }
    a{
        text-decoration: underline;
    }
}

//footer
footer{
    clear: both;
    color: #FFFFFF;
}


//profile page
body.profile article{
    h3.name{
        font-size: 22px;
        letter-spacing: 0.1em;
        font-weight: normal;
        line-height: 120%;
    }
    div.ruby{
        font-size: 12px;
    }
    dl.career{
        margin-top: 12px;
        font-size: 14px;
        dt{
            float:left;
            margin-bottom: 9px;
            padding-right: 8px;
            width: 52px;
            text-align: right;
            font-weight: bold;
        }
        dd{
            margin-bottom: 9px;
        }
    }
}


//works
body.post-type-archive-work ol.archives{
    li.year{
        border-bottom: 1px solid $header_back;
        margin-bottom: 15px;
        font-size: 12px;
    }
    article{
        margin-bottom: 25px;
        @include clearfix;

        div.thumb{
            float:left;
        }
        div.data{
            float:left;
            padding-left: 13px;
            width: 265px;

            h2{
                font-size: 16px;
                line-height: 100%;
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            div.url{
                margin: 5px 0 4px 0;
                line-height: 120%;
                font-size: 10px;
                a{
                    color: #888888;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            dl.work-params{
                float: left;
                margin-top: 3px;
                &.part{ margin-top: 3px; }
                font-size: 12px;
                line-height: 120%;
                dt{
                    color: #333333;
                    float: left;
                    font-weight: bold;
                    padding: 0 3px 1px 0;
                    margin: 0px 4px 3px 0px;
                }
                dd{
                    float: left;
                    border-right: 1px solid #BBBBBB;
                    padding: 0px 4px 0px 0px;
                    margin: 0px 4px 1px 0px;
                    & a{
                        color: #444444;
                    }
                    &:last-child{
                        border-right: none;
                        margin-bottom: 3px;
                    }
                }

                &.member{
                    margin-left: 10px;
                }
                &.env, &.part{
                    width: 100%;
                }
            }
        }
    }
}

body.single-work div#main-space .main-content{
    article{
        padding-right: 11px;
    }
    h1{
        font-size: 20px;
        font-weight: normal;
    }
    table.work_param_table{
        width: 100%;
        margin-top: 10px;
        font-size: 13px;
        border-collapse: collapse;
        border: solid $header_back;
        border-width: 2px 0px;
        td,th{
            padding-top: 4px;
            padding-bottom: 4px;
            border-bottom: 1px dotted #777;
            vertical-align: middle;
        }
        th{
            width: 14%;
            text-align: right;
            white-space: nowrap;
        }
        td{
            padding-left: 10px;
        }
    }
    div.text{
        font-size: 14px;
        margin-top: 25px;
        div.image{
            margin-bottom: 10px;
            &.alignright{
                float: right;
                margin-left: 15px;
            }
            &.alignleft{
                float: left;
            }
            img{
                display: block;
            }
            span.cap{
                font-size: 12px;
                color: #888888;
            }
        }
        h2{
            margin-top: 25px;
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 140%;
        }
        ul{
            margin-top: 15px;
            li{
                line-height: 130%;
                list-style-type: disc;
                list-style-position: outside;
                margin-top: 3px;
                margin-left: 20px;
            }
        }
        a{
            text-decoration: underline;
        }
    }
}
